---
const { hasSidebar } = Astro.locals.starlightRoute;
---

<div class="min-h-screen flex flex-col bg-[var(--color-background)]">
  <header class="fixed inset-x-0 top-0 z-[var(--sl-z-index-navbar)] box-border w-full h-[var(--sl-nav-height)] border-b border-[var(--color-border)] bg-[var(--color-header)] text-[var(--color-header-foreground)] py-[var(--sl-nav-pad-y)] px-[var(--sl-nav-pad-x)]">
    <slot name="header" />
  </header>
  {
    hasSidebar && (
      <nav
        class="hidden md:block print:hidden"
        aria-label={Astro.locals.t('sidebarNav.accessibleLabel')}
        id="nova-sidebar-nav"
      >
        <div
          id="starlight__sidebar"
          class="fixed z-[var(--sl-z-index-menu)] top-[var(--sl-nav-height)] bottom-0 left-0 bg-[var(--color-sidebar)] overflow-y-auto w-[var(--sl-sidebar-width)] border-r border-[var(--color-sidebar-border)]"
        >
          <div class="h-full min-h-[max-content] py-4 px-[var(--sl-sidebar-pad-x)] flex flex-col gap-4">
            <slot name="sidebar" />
          </div>
        </div>
      </nav>
    )
  }

  <div class="main-frame pt-[calc(var(--sl-nav-height)+var(--sl-mobile-toc-height))] pl-[var(--sl-content-inline-start)]">
    <slot />
  </div>
</div>

