<div class="lg:flex">
  {
    Astro.locals.starlightRoute.toc && (
      <aside class="print:hidden lg:order-2 lg:relative lg:w-[var(--sl-sidebar-width)]">
        <div class="fixed top-0 right-0 border-l border-[var(--color-border)] pt-[var(--sl-nav-height)] h-screen w-[var(--sl-sidebar-width)] overflow-y-auto bg-[var(--color-background)]">
          <slot name="right-sidebar" />
        </div>
      </aside>
    )
  }
  <div class="isolate overflow-x-hidden lg:flex-1"><slot /></div>
</div>
