name: Docker Cleanup

on:
  schedule:
    - cron: '00 0 * * *'

jobs:
  delete-untagged-images:
    name: Delete Untagged Images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          dry-run: true
          package: homebox
          delete-ghost-images: true
          delete-orphaned-images: true
          # Make sure to update this to include the latest major tags
          exclude-tags: main,vnext,latest,0.*,1.*
          older-than: 3 months
