name: Docker Cleanup

on:
  schedule:
    - cron: '00 0 * * *'
  workflow_dispatch:

jobs:
  delete-old-images-main:
    name: Delete Old Images for Main Repo
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4
        with:
          dry-run: true
          delete-ghost-images: true
          delete-partial-images: true
          delete-orphaned-images: true
          delete-untagged: true
          validate: true
          token: '${{ github.token }}'
          package: homebox
          use-regex: true
          exclude-tags: latest,latest-rootless,main,main-rootless,nightly,nightly-rootless,*.*.*,0.*,0,*.*.*-rootless,0.*-rootless,0-rootless
          older-than: 180 days

  delete-old-images-devcache:
    name: Delete Old Devcache Images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4
        with:
          dry-run: false
          delete-untagged: true
          token: '${{ github.token }}'
          package: devcache
          older-than: 90 days
